body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}


.headings h1 {
    font-weight: 100;
    font-size: 3rem;
}

.headings span {
    color: red;
}

h2 {
    color: #EA1C2C;
    font-weight: 100;
    font-size: 2rem;
}



.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.navbar-nav a {
    font-weight: 100;
    color: white;
}

#main-nav {
    font-size: 1.5rem;
    font-weight: 100;
}

#main-nav .nav-link {
    color: white;
}

#main-nav .nav-link:hover {
    color: #EA1C2C;
}

#main-nav .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}

.navbar.scrolled {
    background: rgb(222, 192, 222);
    transition: 500ms;
}


@media (min-width: 1200px) {
    .headings h1 {
        font-weight: 100;
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }
}